<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="css/blogs.css">
   
</head>
<body>

    <%- include("components/navbar")  %>

    <div class="container">
        <!-- <img src="images/tapShareLogo.jpg" alt="" srcset=""> -->
   

      <%  if(blogs.length == 0){ %>
        <h1>No Blogs</h1>

      <%  }else{ %>
            <% blogs.forEach((blog)=>{ %>
                <div class="card">
                    <h2><%- blog.title  %></h2>
                    <h3><%- blog.subTitle %></h3>
                    <img src="<%- blog.image %>" alt="" height="200px" width="200px" >
                    <p><%- blog.description.slice(0,100) %>...</p>
         
                    <a href="/single/<%-blog.id %>">Read More</a>
                </div>
        <%       }) %>
        
        <% } %>


     
    </div>
    <%- include('components/footer') %>
</body>
</html>
