<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="css/blogs.css">
   
</head>
<body>

    <%- include("components/navbar")  %>
    <h1>My Blogs</h1>

    <div class="container">
        <!-- <img src="images/tapShareLogo.jpg" alt="" srcset=""> -->

   
              <% myBlogs.forEach((blog)=>{ %>

                <div class="card">
                    <h2><%- blog.title %></h2>
                    <h3><%- blog.subTitle %></h3>
                    <p><%- blog.description %></p>
         
                    <a href="/single/<%-blog.id %>">Read More</a>
                </div>

              <% }) %>


     
    </div>
    <%- include('components/footer') %>
</body>
</html>
